https://machinelearningmastery.com/k-fold-cross-validation/
https://medium.com/datadriveninvestor/k-fold-cross-validation-6b8518070833

In [6]:
import pandas as pd
import numpy as np

import statsmodels.api as sm
import statsmodels.formula.api as smf 

from sklearn.model_selection import train_test_split

In [7]:
df = pd.read_csv('Auto.csv', na_values='?').dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 392 entries, 0 to 391
Data columns (total 9 columns):
mpg             392 non-null float64
cylinders       392 non-null int64
displacement    392 non-null float64
horsepower      392 non-null int64
weight          392 non-null int64
acceleration    392 non-null float64
year            392 non-null int64
origin          392 non-null int64
name            392 non-null object
dtypes: float64(3), int64(5), object(1)
memory usage: 30.6+ KB

In [8]:
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino

In [9]:
X = df['horsepower']
y = df['mpg']
type(X)

pandas.core.series.Series

In [10]:
MSEs = []

kf = KFold(n_splits=10, random_state=42, shuffle=True)

for train_index, test_index in kf.split(X):
    X_train, X_test, y_train, y_test = X[train_index], X[test_index], y[train_index], y[test_index]
    X_train = sm.add_constant(X_train)
    X_test = sm.add_constant(X_test)
    
    model = sm.OLS(y_train, X_train)
    result = model.fit()
    pred = result.predict(X_test)
    MSE = np.mean(np.square(np.subtract(y_test, pred)))
    MSEs.append(MSE)

print(np.mean(MSEs))

NameError: name 'KFold' is not defined